{% extends "base.html"%} {% block title %}Login{% endblock %} {% block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My favourite song</title>
  </head>
  <body style="background-color: antiquewhite">
    <h1>All Eyes one Me</h1>
    <h4>Artis : Tupac</h4>
    <hr />
    <p>
      All Eyes One Me is a song by Tupac Shakur, released in 1997. It is a
      compilation album by the American rapper and producer Tupac Shakur, and is
      considered one of his most successful albums to date. The song was written
      by Shakur, and recorded by his band Rage Against the Machine. The song is
      often referred to as "the song that changed rap music".
    </p>
    <hr />
    <br />
    <pre>
        Get your fuckin' hands up
        Get on out of your seats
        All eyes on me, all eyes on me
        Get your fuckin' hands up
        Get on out of your seats
        All eyes on me, all eyes on me
        Are you feeling nervous?
        Are you having fun?
        It's almost over
        It's just begun
        Don't overthink this
        Look in my eye
        Don't be scared, don't be shy
        Come on in, the water's fine
        We're goin' to go where everybody knows
        Everybody knows, everybody, oh
        We're goin' to go where everybody knows
        Everybody knows
        Get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me
        Ay, come on, get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me, yeah
        Heads down, pray for me
        Heads down now, pray for me
        Get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me
        You wanna hear a funny story?
        So, uh, five years ago, I quit performing live comedy
        Because I was beginning to have, uh, severe panic attacks while on stage
        Which is not a great place to have them
        So I, I quit, and I didn't perform for five years and I spent that time
        Trying to improve myself mentally
        And you know what?
        I did
        I got better
        I got so much better, in fact
        That in January of 2020
        I thought, "You know what? I should start performing again"
        "I've been hiding from the world and I need to re-enter"
        And then, the funniest thing happened
        Are you feeling nervous?
        Are you having fun?
        It's almost over
        It's just begun
        Don't overthink this
        Look in my eye
        Don't be scared, don't be shy
        Come on in, the water's fine
        You say the ocean's rising like I give a shit
        You say the whole world's ending, honey, it already did
        You're not gonna slow it, Heaven knows you tried
        Got it? Good, now get inside
        We're goin' to go where everybody knows
        Everybody knows, everybody knows
        We're goin' to go where everybody knows
        Everybody knows
        Come on, get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me
        Hey, come on, get your fuckin' hands up
        Get on out of your seats
        All eyes on me, all eyes on me, yeah
        Heads down, pray for me
        Heads down now, pray for me
        I said get your fuckin' hands up
        Get up, get up
        I'm talkin' to you, get the fuck up
        Get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me
        Ay, fuckin' get your fuckin' hands up
        Get on out of your seat
        All eyes on me, all eyes on me, yeah
        Come on, heads down, pray for me
        Heads down now, pray for me
        I said get your fuckin' hands up
        Get on...
        All eyes on me, all eyes on me

    </pre>
  </body>
</html>
{% endblock %}
